In [8]:
import pandas as pd
import numpy as np
dataset1 = pd.read_excel('C:/Users/Alexandre/Desktop/Teste.xlsx')
pd.DataFrame(dataset1)
display(dataset1)

,Plant,Work Order,Line,Line Qty,Material,Batch,Serial,UID,UII,Printed,Verified,Required,Destroyed,Printing Error,Created By,Created On,Created At
0,D335,6.100126e+09,100.0,1.0,H7493919315200,28863749,NaN,302470591.0,NaN,1,1,1,0,0,VERONEC,2022-09-05,14:51:29
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,302470592.0,NaN,1,1,1,0,0,VERONEC,2022-09-05,14:53:50
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,302470593.0,NaN,1,1,1,0,0,VERONEC,2022-09-05,14:53:02
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,302470594.0,NaN,1,1,1,0,0,VERONEC,2022-09-05,14:55:08
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,302470595.0,NaN,1,1,1,0,0,VERONEC,2022-09-05,14:58:09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305467,D335,6.100133e+09,100.0,1.0,M00568391,29805621,NaN,302775737.0,NaN,1,1,1,0,0,LIMAM4,2022-12-29,09:07:53
305468,D335,6.100133e+09,300.0,1.0,M00568391,29805621,NaN,302775737.0,NaN,2,2,2,0,0,LIMAM4,2022-12-29,09:09:49
305469,D335,6.100133e+09,100.0,1.0,H7493912415250,27219396,NaN,302775739.0,NaN,1,1,1,0,0,LIMAM4,2022-12-29,10:01:31
305470,D335,6.100133e+09,100.0,2.0,H74939171120410,28925724,NaN,302775740.0,NaN,1,1,1,0,0,LIMAM4,2022-12-29,10:06:56
305471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,302775741.0,NaN,1,1,1,0,0,LIMAM4,2022-12-29,10:07:33

In [ ]:
#df2 = df1.rename(columns=df1.loc[2]).drop(df1.index[0])

In [9]:
dataset2 = dataset1.replace(np.nan, method='ffill')
display(dataset2)

,Plant,Work Order,Line,Line Qty,Material,Batch,Serial,UID,UII,Printed,Verified,Required,Destroyed,Printing Error,Created By,Created On,Created At
0,D335,6.100126e+09,100.0,1.0,H7493919315200,28863749,NaN,302470591.0,NaN,1,1,1,0,0,VERONEC,2022-09-05,14:51:29
1,D335,6.100126e+09,100.0,1.0,H7493919315200,28863749,NaN,302470592.0,NaN,1,1,1,0,0,VERONEC,2022-09-05,14:53:50
2,D335,6.100126e+09,100.0,1.0,H7493919315200,28863749,NaN,302470593.0,NaN,1,1,1,0,0,VERONEC,2022-09-05,14:53:02
3,D335,6.100126e+09,100.0,1.0,H7493919315200,28863749,NaN,302470594.0,NaN,1,1,1,0,0,VERONEC,2022-09-05,14:55:08
4,D335,6.100126e+09,100.0,1.0,H7493919315200,28863749,NaN,302470595.0,NaN,1,1,1,0,0,VERONEC,2022-09-05,14:58:09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305467,D335,6.100133e+09,100.0,1.0,M00568391,29805621,607554,302775737.0,NaN,1,1,1,0,0,LIMAM4,2022-12-29,09:07:53
305468,D335,6.100133e+09,300.0,1.0,M00568391,29805621,607554,302775737.0,NaN,2,2,2,0,0,LIMAM4,2022-12-29,09:09:49
305469,D335,6.100133e+09,100.0,1.0,H7493912415250,27219396,607554,302775739.0,NaN,1,1,1,0,0,LIMAM4,2022-12-29,10:01:31
305470,D335,6.100133e+09,100.0,2.0,H74939171120410,28925724,607554,302775740.0,NaN,1,1,1,0,0,LIMAM4,2022-12-29,10:06:56
305471,D335,6.100133e+09,100.0,2.0,H74939171120410,28925724,607554,302775741.0,NaN,1,1,1,0,0,LIMAM4,2022-12-29,10:07:33

In [10]:
pd.DataFrame.to_excel(dataset2, excel_writer='C:/Users/Alexandre/Desktop/Teste2.xlsx', sheet_name='Dados', index=False)