In [1]:
import pandas as pd
import numpy as np

In [6]:
dados = pd.read_csv('binary.csv', sep=',')
df1 = pd.DataFrame(dados)
df2 = df1.set_index('cod')
c1 = np.arange(0,5,0.5)
c2 = np.random.rand(5)
#df3 = df2.assign(donos=c1)

#df2 = df.drop(columns=['rank','gpa'])
display(df1)

   cod  admit  gre   gpa  rank
0    1      0  380  3.61     3
1    2      1  660  3.67     3
2    3      1  880  4.00     1
3    4      1  640  3.19     4
4    5      0  520  2.93     4