In [197]:
import pandas as pd
import numpy as np

In [209]:
dataset1 = pd.read_excel('Arquivo.xlsx')
pd.DataFrame(dataset1)

      name sobrenome
0     joao     silva
1      NaN     silva
2    vitor      hugo
3      NaN      hugo
4      NaN      hugo
5  silvana    garcia
6      NaN    garcia
7      NaN    garcia